@{
    ViewBag.Title = "Index";
}
<link href="~/App_Themes/ShowBlueStyle/index.css" rel="stylesheet" />
<link href="~/Content/css/jquery.fullPage.css" rel="stylesheet" />
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.fullPage.min.js"></script>
<script>

    $(document).ready(function () {
        $.fn.fullpage({
            anchors: ['Main', 'Main1', 'Main2', 'Main3', 'Main4', 'Main5'],
            navigation: true
        });
    });
</script>
<div id="superContainer" style="top: 0px;">
    <div class="section sct" data-anchor="Main" >
<img class="backStandardMagicarray bm0" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img class="backStandardMagicarray bm1" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
        <div class="wdia dia1"><div class="ndia"> <p>什么是V-ver</p>
<p>这是zgx写了6年的小说，后来zgx不幸成为了一个逗比程序员，无法完成革新文学的使命，但是，但是，他就是想写小说，因为zgx的支撑都来自这个东西。</p>
<p>在各种抗争之下，感觉V-ver和现实越来越远，但是zgx不愿意接受当今这个社会，不肯活在这个世界中，于是他的代码往往会被用来开发和V-ver的软件。</p>
<p>zgx相信所想到的。</p>
<p>I lost！</p>
<p>I beat！</p>
<p> fight for my dream of a my world！</p>
<p>相关应用可能用到websever，这个平台也是因此而起！</p></div></div>
<img id="logo" src="~/Content/img/BuildUsed/logo.png" />
        </div>
        <div class="section sct" data-anchor="Main1" >
<img class="backStandardMagicarray bm2" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
    </div>
    <div class="section sct" data-anchor="Main2" >
        <img class="backStandardMagicarray bm3" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
        </div>
<div class="section sct" data-anchor="Main3" >
    <img class="backStandardMagicarray bm4" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
    <img class="backStandardMagicarray bm5" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
            <img class="backStandardMagicarray bm6" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
</div>
    <div class="section sct" data-anchor="Main4" >
<img class="backStandardMagicarray bm7" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img class="backStandardMagicarray bm8" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
    </div>
        <div class="section sct" data-anchor="Main5" >
            <img class="backStandardMagicarray bm9" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
            <img class="backStandardMagicarray bm10" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
            <img class="backStandardMagicarray bm10" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
    </div>
</div>
