@{
    ViewBag.Title = "Index";
}
<link href="~/App_Themes/ShowBlueStyle/index.css" rel="stylesheet" />
<link href="~/Content/css/jquery.fullPage.css" rel="stylesheet" />
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.fullPage.min.js"></script>
<script>

    $(document).ready(function () {
        $.fn.fullpage({
            anchors: ['Main', 'Main1']
        });
    });

</script>
<div id="superContainer" style="top: 0px;">
    <div class="section" data-anchor="Main" >
<img class="backStandardMagicarray bm0" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img class="backStandardMagicarray bm1" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img class="backStandardMagicarray bm2" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img id="logo" src="~/Content/img/BuildUsed/logo.png" />
    </div>
        <div class="section" data-anchor="Main1" >
<img class="backStandardMagicarray bm3" src="~/Content/img/BuildUsed/standardMagicarray1.png" />
<img id="logo1" src="~/Content/img/BuildUsed/logo.png" />
    </div>
</div>
