/*
   2015年2月19日22:25:23
   用户: sa
   服务器: WANGJI-PC
   数据库: ttx
   应用程序: 
*/

/* 为了防止任何可能出现的数据丢失问题，您应该先仔细检查此脚本，然后再在数据库设计器的上下文之外运行此脚本。*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE VUserNP
	(
	ID int NOT NULL IDENTITY (1, 1),
	Name varchar(20) NOT NULL,
	pw char(40) NOT NULL,
	email varchar(30) NOT NULL,
	power tinyint NOT NULL,
	status tinyint NOT NULL,
	regdate datetime NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE VUserNP ADD CONSTRAINT
	PK_VUserNP PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE VUserNP SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
