@keyframes cssRotation
{
from {}
to {
transform:rotate(360deg);
-ms-transform:rotate(360deg); /* IE 9 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */
}
}
@-webkit-keyframes cssRotation /* Safari and Chrome */
{
from {}
to {
transform:rotate(360deg);
-ms-transform:rotate(360deg); /* IE 9 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */
}
}
/*****************************/
@keyframes cssSlide
{
from {
    margin-top:-290%;
}
to {
    margin-top:50%;
}
}
@-webkit-keyframes cssSlide /* Safari and Chrome */
{
from {margin-top:-290%;}
to {
 margin-top:50%;
}
}
/*****************************/
@keyframes cssYincang
{
0% {
        filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}
50% {
        filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
100% {
        filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}
}
@-webkit-keyframes cssYincang /* Safari and Chrome */
{
0% {
 filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}
50% {
        filter: alpha(opacity=100);
-moz-opacity: 1;
-khtml-opacity: 1;
opacity: 1;
}
100% {
        filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
}
}